.product-list .columns {
    margin: 0;
}
.product-list .column {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}
.product-list .box {
    width: 100%;
}
.product-list .media-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-list .has-text-centered {
    margin-top: 10px;
}
