{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">Add Supa Tee</h1>
        <div class="columns is-centered">
            <div class="column is-half-desktop is-two-thirds-tablet is-full-mobile">
                <form action="{{ url_for('api_bp.add_product') }}" method="POST">
                    <div class="field">
                        <label for="productName" class="label">Product Name</label>
                        <div class="control">
                            <input type="text" class="input" id="productName" name="name" placeholder="Enter product name" required>
                        </div>
                    </div>
                    <div class="field">
                        <label for="productDescription" class="label">Product Description</label>
                        <div class="control">
                            <textarea class="textarea" id="productDescription" name="description" placeholder="Enter product description" required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label for="productPrice" class="label">Price in cents</label>
                        <div class="control">
                            <input type="number" class="input" id="productPrice" name="price" placeholder="Enter price" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Add Product</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
