{% extends "base.html" %}

{% block content %}
<h1 class="title has-text-centered">Supa Tees</h1>
<div class="has-text-centered">
    <a href="{{ url_for('frontend_bp.add_product_view') }}" class="button is-primary mb-4">Create New Product</a>
</div>
<div class="columns is-multiline is-centered product-list">
    {% for product in products %}
    <div class="column is-one-quarter">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>{{ product.name }}</strong>
                            <br>
                            {{ product.description }}
                            <br>
                            <strong>Price:</strong> ${{ product.price / 100 }}
                        </p>
                    </div>
                    <div class="has-text-centered">
                        <button class="button is-primary purchase-button" data-id="{{ product.id }}" data-stripe-price-id="{{ product.stripe_price_id }}">Buy Now</button>
                    </div>
                </div>
            </article>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

